body {
  background-color: grey;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: lightslategray;
}

.container {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.txt-over-img {
  color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  background-color: rgba(41, 41, 41, 0.8);
  padding: 0.5rem;
  font-size: 16px;
}

.txt-over-drink {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  position: absolute;
  color: rgb(255, 255, 255);
  left: 24%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(41, 41, 41, 0.8);
  padding: 0.5rem;
  text-align: center;
  font-size: 16px;
}

.txt-over-food {
  display: flex;
  justify-content: space-around;
  text-decoration: none;

  position: absolute;
  color: rgb(255, 255, 255);
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(41, 41, 41, 0.8);
  padding: 0.5rem;
  text-align: center;
  font-size: 16px;
}
